@tailwind base;
@tailwind components;
@tailwind utilities; 

/* RECHARTS */

.recharts-bar svg.recharts-surface, .recharts-line svg.recharts-surface, .recharts-radar svg.recharts-surface {
  overflow: visible;
}

/* RECHARTS BAR */

.recharts-bar g.xAxis line {
  stroke: #DEDEDE;
}

.recharts-bar g.yAxis line {
  opacity: 0;
}

.recharts-bar g.xAxis text, g.yAxis text {
  color: #9B9EAC;
  font-weight: 500;
  font-size: 14px;
}

/* RECHARTS LINE */

.recharts-line g.xAxis line {
  opacity: 0;
}

.recharts-line g.xAxis text {
  fill: #ffffff50;
  font-weight: 500;
  font-size: 14px;
}

/* RECHARTS RADAR */

.recharts-radar g text {
  fill: #FFF !important;
  font-weight: 500;
  font-size: 11px;
  @media screen and (min-width: 1280px) {
    font-size: 12px;
  }
}

.recharts-radar .recharts-polar-grid-angle line {
  opacity: 0;
}

/* RECHARTS RADIAL */